# IDEA
.idea/
.ideaDataSources/
dataSources/
*.ipr
*.iml
*.iws

# vscode
.vscode/

# Gradle
build/
.gradle/
out/
.classpath
.project
.settings/
bin/

# node
src/main/resources/static/
node_modules/
.env

# yarn
yarn-error.log

# cypress
cypress/screenshots/
cypress/plugins/
cypress/support/
cypress/fixtures/
