body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: stretch;
}

div {
  display: flex;
  flex-grow: 1;
}

a {
  color: #00B7FF;
}

.app {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  flex-grow: 1;
  margin: 5px;
}
